{% load static %}

<html>
<head>
<meta charset="utf-8">
<title>About | Sample</title>
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
<link href="{% static 'frame/css/style.css' %}" rel="stylesheet">
</head>
<body id="about">
  
 <!-- header始まり -->
 <header>
  <div class="logo">
   <a href="{% url 'frame:index' %}"><img src="{% static 'frame/images/logo.png' %}" alt="SAMPLE"></a>
  </div>
  <nav>
   <ul class="global-nav">
     <li><a href="{% url 'frame:portfolio' %}">Portfolio</a></li>
     <li><a href="{% url 'frame:about' %}">About</a></li>
     <li><a href="{% url 'frame:contact' %}">Contact</a></li>
   </ul>    
  </nav>
 </header>
 <!-- header終わり -->
   
 <!-- wrap始まり -->
 <div id="wrap">
  <div class="content" >
    <div class="main-center">
      <h1>About</h1>
      <p>サービス、または個人の紹介ページを想定して作成しています。<br>シングルカラムデザインのページになりますので、スマートフォンなどのフォーマットに対応させることが容易にできます。</p>
      <section class="profile clearfix">
        <div class="profile-txt">
          <h2 class="icon">Profile (サービスインフォメーションなど)</h2>
          <p><span>Sample</span><br>詳細の記述エリア。<br><br><br><br></p>
        </div>
        <img scr="{% static 'frame/images/about-profile.png' %}" alt="プロフィール画像または店舗画像" class="profile-image">
      </section>
      <section class="career">
        <h2 class="icon">Extended Area</h2>
        <p>拡張可能なエリアです。<br>サンプルとして表を埋め込んでいますが、予約状況などのアプリケーションを埋め込むことも可能です<br>(管理アプリケーション別途作成)</p>
        <table>
          <tr>
            <th>Sample</th>
            <td></td>
          </tr>
          <tr>
            <th>Sample</th>
            <td></td>
          </tr>
          <tr>
            <th>Sample</th>
            <td></td>
          </tr>
          <tr>
            <th>Sample</th>
            <td></td>
          </tr>
          <tr>
            <th>Sample</th>
            <td></td>
          </tr>
        </table>
      </section>
    </div>
  </div>
 </div>
 <!-- wrap終わり -->

 
 <!-- footer始まり -->
 <footer>
  <small>(C)2019 Sample</small>    
 </footer>
 <!-- footer終わり -->
</body>
</html>
